body {
	background-color: black;
}

h1 {
	color: #19D1FF;
	font-size: 48pt;
	font-family: Times, Sans-serif;
	display: block;
	text-align: center;
	-webkit-text-stroke: 1.63px #19FF19;

}

.MainContainer {
	width: 100%;
}

.MenuContainer {
	height: 100%;
}

ul#navigation {
  	position: absolute;  
  	text-align: center; 
    bottom: 0px;
    width: 100%;
    padding: 0px;
}
ul#navigation li {
    display: inline;
    list-style: none;
    font-size: 14pt;
    margin: 4px;
    padding: 0;
}
